<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <title>List Making</title>
</head>
<body>
    <div th:replace="navFragment"></div>
    <div class="listSection">
        <div class="categoryContainer" style="margin: 200px auto auto">
            <h2>About us</h2>
            <img th:src="@{../images/workinprogress.jpg}" alt="workinprogress" >


        </div>
    </div>
</body>
</html>